{%extends "profile/base.html"%}
{% load cloudinary %}
{% load bootstrap4 %}
{% load static%}



{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/profile.css'   %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block content %}



{% if user.is_authenticated %}
<header>
<div class="container">

  <div class="profile">
    <div class="profile-image">

      {% if user.profile.profile_pic.url %}
      <img src="{{user.profile.profile_pic.url}}"  alt="image"style="max-width: 200px;max-height: 200px;">
      {% else %}
      <img src="{% static 'images/avatar.png'%}"  alt="image"style="max-width: 200px;max-height: 200px;">
      {% endif%}
    </div>

    <div class="profile-user-settings">
      <h3 class="profile-user-name">{{user.username}}</h3>
      &nbsp; &nbsp; 
      {% if user.profile %}
      <a href="{%url 'update_profile' pk=user.id%}"> <button class="btn btn-outline-dark"> <h3>Update Profile</h3> </button></a>
      {%else %}
      <a href="{%url 'edit_profile' userId=user.id%}"> <button class="btn btn-outline-dark"> <h3>Create Profile</h3> </button></a>
      {% endif %}
      <button class="btn profile-settings-btn" aria-label="Profile Settings"> <i class="fas fa-cog" aria-hidden></i></button>

    </div>
     <div class="profile-stats">
       <ul>
         <li class="text-center"><span class="profile-stat-count">{{user.publisher.count}} </span>Projects</li>
       </ul>
     </div>
     <div class="profile-bio">
       <p ><small style="font-weight: bold;">bio</small></p>
       <p>{{user.profile.bio}}</p>
       <div>
       <h4 style="font-weight: bold;">Contact Information</h4>
       <p>{{user.profile.email}}</p>
       <p>{{user.profile.phone_number}}</p>
      </div>
     </div>
  </div>
     <!--End profile-->
</div>
<!--End of Container-->
</header>
<hr>
<div class="container-fluid">
  <main>  
<div class="row">
    {% for post in posts %}
    <div class="col-md-4" style="font-size: 1.5rem;">
      <div class="card mb-3" style="box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.7),
      0 17px 50px 0 rgba(0, 0, 0, 0.7);">
        <img class="embed-responsive-item" src="{{ post.lannding_page.url}}"  alt="image" >
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.description}}</p>
          <p class="card-text"><small class="text-muted">Published by you {{post.pub_date|timesince}} ago</small></p>
        </div>
        <div class="card-footer">
          <a href=" {{post.link}}" class="card-link">Live link </a>
          <a href="#" class="card-link"></a>
        </div>
      </div> 
  </div>

   {% endfor %}
   <!--End Gallery-->
  </div>
  </main>
 
</div>
  {% else %}
 <p>Please Log in to access this page </p>

  {% endif %}





{% endblock %}