
{% load bootstrap4 %}
{% load static%}


  {% block styles %}
       {% bootstrap_css %}
       <link rel="stylesheet" href="{% static 'css/navigation.css'   %}">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

   {% endblock %}  
<!--navigation -->

<nav>
  <ul>
    <li class="logo">Tuzo-awards</li>
    <li class="btn"><span class="fas fa-bars"></span></li>
    <div class="items">
      <li class=" ">
        <a class="" href="./">Home</a>
      </li>
      <li class="">
        <a class="" href="#">Services</a>
      </li>
     
      <li class="">
        <a class="" href="mailto:ekagwima745@gmail.com"
          >Contact</a
        >
      </li>
      <li class="">
        <a class="" href="#">About</a>
      </li>
    </div>


    <li class="search-icon">
      <input type="search" placeholder="search" name="" id="">

      <label  class="icon">
       
        <span class="fas fa-search"></span>

      </label>
      

    </li>
  </ul>
</nav>
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!---Navigation -->
  <!-- <nav id="nav-main" class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid" >
      <a id="logo" class="logo" href="./"><img src="img/logo2.png" alt="logo" /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:ekagwima745@gmail.com"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav> -->