
{% load bootstrap4 %}
{% load static%}


  {% block styles %}
       {% bootstrap_css %}
       <link rel="stylesheet" href="{% static 'css/navigation.css'   %}">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

   {% endblock %}  
<!--navigation -->

<nav>
  <ul>
    <li class="logo"><a href="./" style="text-decoration: none; color: white;"> Tuzo-Awards <img src="{% static 'images/logomain.png'   %}"  alt="logo" style="width:50px"> </a> </li>
    <li class="btn"><span class="fas fa-bars"></span></li>
    <div class="items">
      <li class=" ">
        <a class="" href="./">Home</a>
      </li>
      <li class="">
        <a class="" href="#">Services</a>
      </li>
     
      <li class="">
        <a class="" href="mailto:ekagwima745@gmail.com"
          >Contact</a
        >
      </li>
      <li class="">
        <div >
          {% if user.is_authenticated %}
          <ul>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">{{user.username}}
                        <span class="caret"></span>
                    </a>
              <ul class="dropdown-menu" role="menu">
                
                
    
                <li>
                  <a href="{% url 'profile_page'  userId=user.id %} ">Profile</a>
                </li>
    
    
                <li>
                  <a href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <li>
            <a class='btn btn-default' href="/accounts/login">Login</a>
          </li>
    
          {% endif %}
        </div>
      </li>
    </div>


    <li class="search-icon">
      <input type="search" placeholder="search" name="" id="">

      <label  class="icon">
       
        <span class="fas fa-search"></span>

      </label>
      

    </li>
  </ul>
</nav>
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!---Navigation -->
  <!-- <nav id="nav-main" class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid" >
      <a id="logo" class="logo" href="./"><img src="img/logo2.png" alt="logo" /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:ekagwima745@gmail.com"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav> -->