
{% load bootstrap4 %}
{% load static%}


  {% block styles %}
       {% bootstrap_css %}
       <link rel="stylesheet" href="{% static 'css/navigation.css'   %}">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

   {% endblock %}  
<!--navigation -->

<nav>
  <ul>
    <li class="logo"><a href="/" style="text-decoration: none; color: white;"> Tuzo-Awards <img src="{% static 'images/logomain.png'   %}"  alt="logo" style="width:50px"> </a> </li>
    <li class="btn"><span class="fas fa-bars"></span></li>
    <div class="items">
      <li class=" ">
        <a class="" href="/">Home</a>
      </li>
      <li class="">
        <a class="" href="#">Services</a>
      </li>
     
      <li class="">
        <a class="" href="mailto:ekagwima745@gmail.com"
          >Contact</a
        >
      </li>
      <li class="">
        <div >
          {% if user.is_authenticated %}
          <ul >
            <li class="dropdown" >
              {% if user.profile.profile_pic.url %}
              <img style="border-radius: 50%; max-width: 50px; max-height: 50px;" src=" {{user.profile.profile_pic.url}}" alt=""> 
              {% else %}
               <img style="border-radius: 50%; max-width: 50px; max-height: 50px;" src="{% static 'images/avatar.png'%}"  alt="image">
              {% endif%}

              <a href="{% url 'profile_page'  userId=user.id %} " class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">{{user.username}}
                        <span class="caret"></span>
                    </a>
              <ul class="dropdown-menu" role="menu" style="background: blueviolet;">
                
                
    
                <li>
                  <a href="{% url 'profile_page'  userId=user.id %} ">Profile</a>
                </li>
    
    
                <li>
                  <a href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <li>
            <a class='btn btn-default' href="/accounts/login">Login</a>
          </li>
    
          {% endif %}
        </div>
      </li>
    </div>



  <form class="form" role="search" action="{% url 'search_results' %}">
    <li class="search-icon">

      <input type="search" placeholder="search projects" name="project" id="">
      
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search" style="background: white; border-radius: 50px;"></i></button>
      </div>
   
    </li>

     </form>
  </ul>
</nav>
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  